.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
doc/amazon_Press_Release_FAQ.md
doc/Data Model Planning Worksheet_tructor.md
doc/JTBD_Tructor.md
doc/System Footprint_URL Map_tructor.md
doc/WorkingBackwards_Tructor.md
doc/ycombinator_screener_2nd_day.md
